server:
  port: 8082
  servlet:
    session:
      cookie:
        name: UISESSIONORDER

security:
  oauth2:
    client:
      client-id: orderId
      client-secret: 1
      access-token-uri: http://localhost:8080/cxdmg-web/oauth/token
      user-authorization-uri: http://localhost:8080/cxdmg-web/oauth/authorize
    resource:
      user-info-uri: http://localhost:8081/user/getUserInfo
logging:
  level:
    root: debug
    
#thymelea模板配置
spring:
  thymeleaf:
    mode: LEGACYHTML5
    prefix: classpath:/templates/
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false
  resources:
    chain:
      strategy:
        content:
          enabled: true
          paths: /**      
  #数据库连接信息
  datasource:
        name: test
        url: jdbc:mysql://47.105.71.96:3306/member?useUnicode=true&characterEncoding=utf-8&useSSL=false
        username: root
        password: 123456Llx!
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20