server:
  port: 8080
  servlet:
    context-path: /cxdmg-web
 
#thymelea模板配置
spring:
  thymeleaf:
    mode: LEGACYHTML5
    prefix: classpath:/templates/
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false
  resources:
    chain:
      strategy:
        content:
          enabled: true
          paths: /**      
  #数据库连接信息
  datasource:
        name: test
        url: jdbc:mysql://47.105.71.96:3306/member?useUnicode=true&characterEncoding=utf-8&useSSL=false
        username: root
        password: 123456Llx!
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20     
                       
  jpa:
    database: MYSQL
    show-sql: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        
        
  mail:
    host: smtp.qq.com
    port: 587
    username: 601579263@qq.com
    password: bpedkpauhuhwbbgj
    enable:  true
    smtp:
      auth: true
    starttls:
      enable: true
      required: true   

msg: 
  subject: 小逗的一天,提示您注册成功邮件。
  text:  恭喜您的账户{},注册成功       