<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101486322"  charset="utf-8"></script>
	<script type="text/javascript" th:src="@{/js/user/userList.js}"></script>
   	<script type="text/javascript" th:inline="javascript">
    	var ctx=/*[[${#httpServletRequest.getContextPath()}]]*/ '';
    </script>	
</head>
<body>
	<!-- qq登陆按钮 -->
	 <span id="qqLoginBtn" style="display: none;"></span>
	 <!-- 显示qq信息 -->
	 <div class="demo_left">
		<span id="OO" _origtext="get_user_info 加载昵称中..." title="nickname">
			<span class="qc_item figure">
				<img th:if="${figureurl}!=null" th:src="${figureurl}" class="undefined">
				<img th:if="${figureurl}==null" th:src="@{/images/brand/touxiang.jpeg}" style="width: 50px;height: 50px;"/>
			</span>
			<span class="qc_item nickname" style="margin-left:6px;" th:text="${name}"></span>
			<span class="qc_item logout">
				<a href="javascript:QC.Login.signOut();" style="margin-left:6px;">退出</a>
			</span>
		</span>
	</div>
 

	<h1>用户信息</h1>
	<table class="table">
			<tr>
				<td>序号</td>
				<td>姓名</td>
				<td>账号</td>
				<td>手机号</td>
				<td>邮箱</td>
			</tr>	
	    <th:block th:each="r,stat:${list}" th:if="${list}!=null">
	        <tr>
	        	<td th:text="${stat.index+1}"></td>	
	        	<td th:text="${r.name}"></td>
	        	<td th:text="${r.emp_id}"></td>
	        	<td th:text="${r.phone}"></td>
	        	<td th:text="${r.email}"></td>
	        </tr>
	    </th:block>
	</table>
</body>
</html>