<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>欢迎登录</title>
<link rel="stylesheet" href="/view/default/css/common.css" />
<link rel="stylesheet" href="/view/default/css/loginregister.css" />
<link rel="stylesheet" href="/view/default/css/valifrom.css" />
<style>
.form-box .input-box {
	overflow: hidden;
}
</style>
</head>

<body>
<p style="font-size: 16px;">欢迎,
<span th:text='${nickName}'></span>
,性别:<span th:text='${gender}'></span>
头像:<img alt="" th:src="${avatarURL}"/>
</p>

</body>

</html>