server:
  port: 8081

logging:
  level:
    org.springframework.security: DEBUG
### 本地环境
#security:
#  oauth2:
#    resource:
#      ####从认证授权中心上验证token
#      tokenInfoUri: http://127.0.0.1:8080/cxdmg-web/oauth/check_token
#      preferTokenInfo: true
#    client:
#      accessTokenUri: http://127.0.0.1:8080/cxdmg-web/oauth/token
#      userAuthorizationUri: http://127.0.0.1:8080/cxdmg-web/oauth/authorize
#      ###appid
#      clientId: clientId4
#      ###appSecret
#      clientSecret: 1
####生产环境     
security:
  oauth2:
    resource:
      ####从认证授权中心上验证token
      tokenInfoUri: http://www.cxdmg.top/cxdmg-web/oauth/check_token
      preferTokenInfo: true
    client:
      accessTokenUri: http://www.cxdmg.top/cxdmg-web/oauth/token
      userAuthorizationUri: http://www.cxdmg.top/cxdmg-web/oauth/authorize
      ###appid
      clientId: clientId4
      ###appSecret
      clientSecret: 1      
      
#thymelea模板配置
spring:
  thymeleaf:
    mode: LEGACYHTML5
    prefix: classpath:/templates/
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false
  resources:
    chain:
      strategy:
        content:
          enabled: true
          paths: /**      
  #数据库连接信息
  datasource:
        name: test
        url: jdbc:mysql://47.105.71.96:3306/member?useUnicode=true&characterEncoding=utf-8&useSSL=false
        username: root
        password: 123456Llx!
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20       