<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限信息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   	<script type="text/javascript" th:inline="javascript">
    	var ctx=/*[[${#httpServletRequest.getContextPath()}]]*/ '';
    </script>
   
</head>
<body>
	

	<h1>权限信息</h1>
	<table class="table" style="margin-top: 10px;">
			<tr>
				<td>序号</td>
				<td>权限名称</td>
				<td>权限类型</td>
				<td>权限路径</td>
			</tr>	
	    <th:block th:each="r,stat:${list}" th:if="${list}!=null">
	        <tr>
	        	<td th:text="${stat.index+1}"></td>	
	        	<td th:text="${r.perm_name}"></td>
	        	<td th:text="${r.perm_tag}"></td>
	        	<td th:text="${r.url}"></td>
	        </tr>
	    </th:block>
	</table>
</body>
</html>